* {
  Margin: 0;
  padding: 0;
}

body {
  background-image: url(/Documents/photo-1553095066-5014bc7b7f2d.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: sans-serif;
  min-height: 100vh;

}

h1 {
  color: #00E10D;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  padding-bottom: 30px;
  text-shadow: 0.1em 0.1em 0.2em black
}

h2 {
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  padding-bottom: 20px;
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: center;
}

.li1 {
  color: orange;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 30px;
}

.but {
  text-align: center;
  font-size: 30px;
}

header {
  width: 100%;
  overflow: hidden;
  background: #7F8F9C;
  margin-bottom: 20px;
  opacity: 50%;
  font-size: 25px;
  font-weight: bold;

}

#footer {
  background-color: #7F8F9C;
  opacity: 75%;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-size: x-large;
  text-align: center;

}

.formulario {
  background-color: #7F8F9C;
  opacity: 75%;
  border-radius: 10px;
  text-align: left;
  width: 400px;
  font-size: 25px;
  font-style: italic;
  color: #ffffff;
  float: left;
  margin-left: 575px;
  margin-top: 25px;
  margin-bottom: 30px;
  overflow: hidden;
}

.form {
  color: #fff;
  font-size: large;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}

header #logo {
  line-height: 50px;
  float: left;

}

.headernav {
  text-align: right;
  line-height: 100px;
  font-size: x-large;
  justify-content: end;
}


header nav a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  text-align: right;
}


.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
}

.wrapper2 {
  width: 90%;
  max-width: 200px;
  margin: auto;
  overflow: hidden;
}

.texto {
  font-size: xx-large;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin: 60px;
  text-align: justify;
}

.titulo {
  margin-top: 100px;
}

.auto {
  padding: 100px;
}

#auto1 {
  float: right;
}

#auto2 {
  float: left;
}

.but2 {
  background-color: #00E10D;
  border-radius: 50PX;
  width: 20%;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ofert {
  margin-left: 50px;
  width: 600px;
}

#logo1 {
  width: 300px;
  margin: auto;
}

#cliente {
  margin-top: 100px;
  margin-bottom: 100px;
}

#fotocliente {
  height: 500px;
}

#a1 {
  text-align: center;
  margin-bottom: 100px;
}

#a2 {
  text-align: center;
}

#chapa1 {
  width: 1200px;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#slider {
  text-align: center;
}

#autorojo {
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;

}

#redes {
  justify-content: right;
  width: 200px;
}

#contac {
  float: right;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#butcomp {
  float: right;
  background-color: #00E10D;
  border-radius: 50PX;
  width: 20%;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 200px;
  margin-left: 250px;
  margin-right: 300px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.conte_parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.conte {
  height: 510px;
  width: 350px;
  box-shadow: 0 0 7px #111;
  margin: 30px 30px;
}

.conte .card {
  height: 200px;
  width: 100%;
  margin-bottom: 170px;
}

.card img {
  margin: auto;
  display: block;
}

.conte .stromtroper img {
  height: 330px;
  width: 300px;
}

.conte .stromtroper {
  background-color: #111;
}

.conte .iron-man {
  background-color: #6A0C0B;
}

.conte .spider-man {
  background-color: #B11313;
}

.conte .iron-man img {
  height: 330px;
  width: 230px;
}

.conte .spider-man img {
  height: 330px;
  width: 300px;
}

.informacion {
  height: 80px;
  width: 100%;
}

.informacion h1 {
  font-family: sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: #333;
  margin-bottom: -10px;
}

.informacion p {
  text-align: center;
  font-family: sans-serif;
  font-size: .9em;
  color: #555;
}

.precio {
  height: 50px;
  width: 85%;
  margin: auto;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-precio {
  width: 80px;
}

.precio1 {
  color: red;
  font-size: .8em;
}

.precio .precio2 {
  font-size: 1.5em;
}

.shoping {
  font-size: 1.5em;
  color: #555;
}

.tex {
  display: grid;
  grid-template-columns: 2fr;
  gap: 50px;
  align-items: center;
  padding: 50px;

}


.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*grid*/
  display: grid;
  grid-template-columns: 90% auto;
  gap: 20px;
}

.contenedor-chapaypintura {
  /*grid*/
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.titulo {
  font-size: 24px;
  padding: 20px 0;
}


.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;


}

.card .textos {
  height: 100%;


}

.banner {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;


}

.banner ul {
  list-style: none;
}

.banner ul li {
  margin: 15px;
  font-weight: bold;
}

.banner .boton {
  background: #00E10D;
  color: #fff;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}


@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}



.fotos {
  width: 800px;
  padding: 100px;
}

.ttt {
  padding: 100px;
}

#bmw10 {
  height: 300px;
}