* {
    Margin: 0;
    padding: 0;
}

body {
    background-image: url(../documents/back1.jpg);
    background-attachment: fixed;
    background-size: cover;
}



.column {
    float: left;
    width: 25%;
    padding: 10px;
}


.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.container {
    position: relative;
    display: none;
}


#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}


.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#logo1 {
    width: 200px;
}

.header1 {
    opacity: 90%;
    font-size: 20px;
    text-decoration: none;
}

.slider1 {
    padding: 3vh;
    margin-top: 5vh;
}

.title1 {
    text-align: end;
    font-size: 24px;
    padding: 100px;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-bottom: 20px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.card1 {
    padding: 50px;

}

.form {

    color: #fff;
    font-size: large;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.form2 {
    color: #fff;
    font-size: large;


}

#contacto1 {
    width: 150px;

}

#contacto2 {
    text-align: end;
    padding-right: 100px;
}



.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    justify-content: end;

}


.texto {
    font-size: x-large;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-align: justify;
}

.tex {
    display: grid;
    grid-template-columns: 2fr;
    margin-left: 1vh;
    margin-right: 3vh;

}

#auto1 {
    float: right;
}

#auto2 {
    float: left;
}